{% extends "layout.html" %}

{% block title %}About Us{% endblock title %}

{% block body %}
	<div class = "container">
		<div class = "col-md-4">
			<div class = "navigation panel panel-default panelbody">
			<!--<div class = "navigation full-viewport" style = "border:2px solid white;">-->
				<div class = "panel-body">
					<h3><strong>About Us</strong></h3><br />
						<ul>
							<li><a href = "#idea">Idea Behind LetsSankalp.Com</a></li>
							<li><a href = "#customers">Our Customers</a></li>
							<li><a href = "#connectree">About Connectree</a></li>
							<li><a href = "#partners">Partners</a></li>
						</ul>
				</div>
			</div>
		</div>
		<div class = "col-md-8">
				<div class = "row full-viewport">
					<a id = "idea"><div class = "col-md-12"></a>
						<h2><strong>Idea Behind LetsSankalp.Com</strong></h2><br />
						<p>Don't know whether your donation is in right hands? Confused regarding selection of NGO? Don't worry. You are at right place! We provide a complete solution that suits your social serving needs. CSR is a platform benificial for both investors and donators.</p> 
						<h4><strong>For Donors</strong></h4>
						<ul>
							<li>Be assured about the credibility of NGO</li>
							<li>Easy Payment and registration process</li>
							<li>Find right NGO to support your social serving needs</li>
						</ul>
						<h4><strong>For NGOs</strong></h4>
                                                <ul>
                                                        <li>Showcase your project to the world through us</li>
                                                        <li>Get funded quickly</li>
                                                        <li>Provide Progress report to donors through our compact and easy-to-use tool</li>
                                                </ul>
						<p>We consider the trust built in us over the time as most valuable and thus we showcase only those NGOs verified by us.</p>
					</div>
				</div>
				<p class = "text-right"><a href = "#top">^ Back to Top</a></p>
				<hr />
				<div class = "row full-viewport">
                                        <a id = "customers"><div class = "col-md-12"></a>
                                        	<h2><strong>Our Customers</strong></h2><br />
						<p>Our satisfied customers include:</p>
						<p>This section will consist of logos of our customers</p>
                                        </div>
                                </div>
				<p class = "text-right"><a href = "#top">^ Back to Top</a></p> 
                                <hr />
				<div class = "row full-viewport">
                                        <a id = "team"><div class = "col-md-12"></a>
                                        <h2><strong>About Connectree</strong></h2><br />
                                        <p>
											<img src="/Content/img/connectree.PNG" height="30px" style="vertical-align:text-bottom"/>
											is a startup based in Goa by four college students.
                                        </p>
                </div>
				</div>
				<p class = "text-right"><a href = "#top">^ Back to Top</a></p> 
                                <hr />
				<div class = "row full-viewport">
                                        <a id = "partners"><div class = "col-md-12"></a>
                                        	<h2><strong>Partners</strong></h2><br />
						<a href="http://www.ciba.org.in/"><img src = "/Content/img/Ciba.png" /></a>
                                        </div>
                                </div>
				<p class = "text-right"><a href = "#top">^ Back to Top</a></p> 
		</div>
		<hr />
	</div>
{% endblock body %}

{% block scripts %}
	<script src = "/Content/js/smoothScroll.js"></script>
{% endblock scripts %}
