{% extends "layout.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2  ">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li ><a href="/admin">Home</a></li>
            <li><a href="/admin/Authenticate">Authenticate</a></li>
            <li class="active"><a href="/admin/CredibilityCheck">Credibility Check</a></li>
            </ul>
          </div>
                     
      <div class="col-sm-10 ">
	<h1>Dashboard</h1>
	{% for ngo in ngoList %}
		<a href="/admin/CredibilityCheck/{{ngo.userid}}"><h2>{{ngo.name}}</h2></a>
		<p>{{ngo.description}}</p>
	{% endfor %}
      </div>
    </div>
    </div>

{% endblock body %}

{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>
{% endblock scripts %}

