{% extends "adminTopBar.html" %}

{% block adminblock %}
      <div class="col-sm-10 ">
            <div class="row">
             <div class="jumbotron">
                <h1>Authenticate Project</h1>
                <p>Authenticate Project submitted by NGO </p>
                <p><a class="btn btn-primary btn-lg" href="/admin/Authenticate">Authenticate</a></p>
             </div>
           </div>
           <div class="row">
             <div class="jumbotron">
                <h1>Credibility Check</h1>
                <p>Perform a credibility check on NGO using parameters supplied to us</p>
                <p><a class="btn btn-primary btn-lg" href="/admin/CredibilityCheck">Credibility Check</a></p>
             </div>
           
            </div>
          </div>
	</div>

{% endblock adminblock %}
