{% extends "adminTopBar.html" %}

{% block adminblock %}
<div class="col-sm-10 ">
	<div class="row text-center">
		<h2 class="text-left">Authenticate NGOs</h2>
<div class="panel panelbody">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<div class="panel panelbody">
								<div class="panel-body">
									<img src="/Content/img/ngo_logo.jpg" class="col-md-12"/>
									<p class="text-center"><a href="#">NGO 1</a></p>
									<button href="#" class="btn btn-success">Authenticate</button>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="panel panelbody">
								<div class="panel-body">
									<img src="/Content/img/ngo_logo.jpg" class="col-md-12"/>
									<p class="text-center"><a href="#">NGO 2</a></p>
									<button href="#" class="btn btn-success">Authenticate</button>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="panel panelbody">
								<div class="panel-body">
									<img src="/Content/img/ngo_logo.jpg" class="col-md-12"/>
									<p class="text-center"><a href="#">NGO 3</a></p>
									<button href="#" class="btn btn-success">Authenticate</button>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="panel panelbody">
								<div class="panel-body">
									<img src="/Content/img/ngo_logo.jpg" class="col-md-12"/>
									<p class="text-center"><a href="#">NGO 4</a></p>
									<button href="#" class="btn btn-success">Authenticate</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>

{% endblock adminblock %}

<!--{% block body %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2  ">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li ><a href="/admin">Home</a></li>
            <li><a href="/admin/Authenticate">Authenticate</a></li>
            <li class="active"><a href="/admin/CredibilityCheck">Credibility Check</a></li>
            </ul>
          </div>
                     
      <div class="col-sm-10 ">
	<h1>Dashboard</h1>
	{% for ngo in ngoList %}
		<a href="/admin/CredibilityCheck/{{ngo.userid}}"><h2>{{ngo.name}}</h2></a>
		<p>{{ngo.description}}</p>
	{% endfor %}
      </div>
    </div>
    </div>

{% endblock body %}-->

{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>
{% endblock scripts %}

