{% extends "layout.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2  ">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li ><a href="/admin">Home</a></li>
            <li class="active"><a href="/admin/Authenticate">Authenticate</a></li>
            <li><a href="/admin/CredibilityCheck">Credibility Check</a></li>
            </ul>
          </div>
                       
          <div class="col-sm-10 ">
          	<h1>List Of Project</h1>
            <div class="col-sm-6">
              <div class="list-group">
              	{% for project in projectList %}
                      <a href="/admin/Authenticate/{{project.ngo}}_{{project.title}}" class="list-group-item">
                      <h4 class="list-group-item-heading">{{project.title}}</h4>
                      <p class="list-group-item-text">{{project.description}}</p></a>
              	{% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock body %}

{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>
{% endblock scripts %}

