{% extends "layout.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2  ">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li class="active"><a href="/admin">Home</a></li>
            <li ><a href="/admin/Authenticate">Authenticate</a></li>
            <li><a href="/admin/CredibilityCheck">Credibility Check</a></li>
            </ul>
          </div>                      
          <div class="col-sm-10 ">
            <div class="row">
             <div class="jumbotron">
                <h1>Authenticate Project</h1>
                <p>Authenticate Project submitted by NGO </p>
                <p><a class="btn btn-primary btn-lg" href="/admin/Authenticate">Authenticate</a></p>
             </div>
           </div>
           <div class="row">
             <div class="jumbotron">
                <h1>Credibility Check</h1>
                <p>Perform a credibility check on NGO using parameters supplied to us</p>
                <p><a class="btn btn-primary btn-lg" href="/admin/CredibilityCheck">Credibility Check</a></p>
             </div>
           
            </div>
          </div>
        </div>
      </div>

{% endblock body %}

{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>
{% endblock scripts %}

