{% extends "layout.html" %}

{% block title %}Customers{% endblock title %}

{% block body %}
	<div class = "container">
		<div class = "col-md-12">
			<h2><strong>Our Customers</strong></h2>
			<p>NOTE: This is a placeholder. At the place of the below image, we shall have logos of our notorious customers over transperant background</p>
			<img width = 70% src = "Content/img/customers.jpg" />
		</div>
	</div>
{% endblock body %}

{% block scripts %}
	<script src = "/Content/js/smoothScroll.js"></script>
{% endblock scripts %}
