{% extends "layout.html" %}

{% block title %}Explore{% endblock title %}

{% block body %}
	<div class = "container ">
		<div class = "col-md-12 full-vewport">
			<div class = "navigation panel panel-default panelbody">
			<!--<div class = "navigation full-viewport" style = "border:2px solid white;">-->
				<div class = "panel-body">
					<h3><strong>Content coming soon.</strong></h3>
				</div>
			</div>
		</div>
		<div class = "col-md-8">
				<div class = "row full-viewport">
				</div>
				<p class = "text-right"><a href = "#top">^ Back to Top ^</a></p>
		</div>
		<hr />
	</div>
{% endblock body %}

{% block scripts %}
	<script src = "/Content/js/smoothScroll.js"></script>
{% endblock scripts %}
