{% extends "layout.html" %}

{% block title %}Explore{% endblock title %}

{% block body %}
		<div class="container full-viewport" onload="initialize();">
			<h2>Explore</h2>
			<div class="row" style="margin-top:20px">
				<div >
					<div class="panel panel-default panelbody">
				<div class="panel-body">
					<form method="POST">
					  <div class="form-group col-md-4" >
					    <input type="text" name="address" class="form-control" onFocus="geolocate()" style="display:inline" id="autocomplete" placeholder="Search by Area">
					    <p>Enter location to to use location based searching.</p>
					    <input type="hidden" id="lat" name="lat" required>
					    <input type="hidden" id="lng" name="lng" required>
					  </div>
					  <input type="submit" class="btn btn-primary" value="Search" style="display:inline">
					</form>
				</div>
				</div>
				</div>
        	</div>
        	<br>
        	<div class="row">
				{% if get == 0 %}
					<h3>Search Results for "{{search}}"</h3>
						<p>Total {{len}} match{%if len>1 %}es{%endif%} found.</p>
						{% if len > 0 %}
							{% for project in projects %}
								<div class="panel panel-default panelbody">
									<div class="panel-body">
										<div class="col-md-6">
											<div class="col-md-6">
												<img src="/Content/img/project_image.jpg" class="col-md-12">
											</div>
											<div class="col-md-6">
												<h3><a href="/project/{{project[0].ngo}}_{{project[0].title}}">{{project[0].title}}</a></h3>
												<p><i class="fa fa-tag"></i> {{project[0].category}}</p>
												<p><i class="fa fa-map-marker"></i> {{project[0].address}}</p>
											</div>
										</div>
										<div class="col-md-6">
											<h4>Description: </h4>
											<div>{{project[0].description}}</div>
										</div>								
									</div>
										</div>
										<div class="col-md-1"></div>
									</div>
								</div>
							{% endfor %}	
						{% else %}
							<div class="panel panel-default panelbody">
								<div class="panel-body">
									<p  class="text-center">No Nearby Projects Found.</p>
								</div>
							</div>
						{% endif %}
					</div>
				{% else %}
					<div class="panel panel-default panelbody">
						<div class="panel-body">
							<p class="text-center">Enter a Location to explore current projects nearby.</p>
						</div>
					</div>
				{% endif %}
				</div>
{% endblock body %}

{% block scripts %}
	<script src = "/Content/js/smoothScroll.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.
var geocoder = new google.maps.Geocoder();
var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initialize() {
	console.log("hello")
  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
      { types: ['geocode'] });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
	  console.log("hi")
    fillInAddress();
    codeAddress();
  });
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();
/*
  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;

  }
*/
  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  
}
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
function codeAddress() {
  var address = document.getElementById('autocomplete').value;
  console.log(address)
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      console.log(results[0].geometry.location);
      document.getElementById('lat').value = results[0].geometry.location.lat();
      document.getElementById('lng').value = results[0].geometry.location.lng();
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

document.addEventListener("load", initialize());
</script>
{% endblock scripts %}
