{% extends "layout.html" %}

{% block title %}Features{% endblock title %}

{% block body %}
<div class="container">
        <div class = "row half-viewport text-center">
                <div class = "col-md-12 vhc-viewport">
			<h2>Our Features</h2>
			<h4>We Have Got Everything to Suit Your Social Serving Needs</h4>
		</div>
	</div>
	<hr>
	<div class = "row full-viewport">
		<a id = "accountibility"></a>
		<div class = "col-md-6 vhc-viewport text-center">
			<img src = "/Content/img/accountibility.jpg" height=276 />
		</div>
		<div class = "col-md-6 vhc-viewport">
			<h2>Accountiblity</h2><br>
			<p><span class = "glyphicon glyphicon-ok"></span>&nbsp;Get a customized report</p><br>
			<p><span class = "glyphicon glyphicon-ok"></span>&nbsp;Know how your donation is utilized</p><br>
			<p><span class = "glyphicon glyphicon-ok"></span>&nbsp;Manage your donations</p><br>
                </div>
	</div>
	<hr>
	<div class = "row full-viewport">
		<a id = "history"></a>
		<div class = "col-md-2">
		</div>
		<div class = "col-md-3 vhc-viewport">
			<h2>History</h2><br>
                        <p><span class = "glyphicon glyphicon-ok"></span>&nbsp;Know the NGO before donating</p><br>
                        <p><span class = "glyphicon glyphicon-ok"></span>&nbsp;See the past records of NGO</p><br>
                        <p><span class = "glyphicon glyphicon-ok"></span>&nbsp;Donate NGOs verified by us</p><br>
		</div>
		<div class = "col-md-1">
                </div>
		<div class = "col-md-6 vhc-viewport text-center">
			<img src = "/Content/img/History.png" height=276 />
                </div>
	</div>
	<hr>
	 <div class = "row full-viewport">
		<a id = "smoothpayment"></a>
                <div class = "col-md-6 vhc-viewport text-center">
			<img src = "/Content/img/payment.png" height=276 />
                </div>
                <div class = "col-md-6 vhc-viewport">
                        <h2>Smooth Payment</h2><br>
                        <p><span class = "glyphicon glyphicon-ok"></span>&nbsp;Transperant fund transfer</p><br>
                        <p><span class = "glyphicon glyphicon-ok"></span>&nbsp;Easy 5 minute registration process</p><br>
                        <p><span class = "glyphicon glyphicon-ok"></span>&nbsp;Pay directly by credit card from anywhere in the world</p><br>
                </div>
        </div>

</div>
{% endblock body %}

{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="/Content/js/smoothscroll.js"></script>
{% endblock scripts %}
