{% extends "layout.html" %}

{% block title %}Crowd Sourcing Report{% endblock title %}

{% block body %}

    

    <!-- Carousel for Home Page -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="Content/img/homeslide1.jpg" alt="First slide" width="100%">
                <div class="carousel-caption">Slide 1</div>
            </div>
            <div class="item">
                <img src="Content/img/homeslide2.jpg" alt="Second slide" width="100%">
                <div class="carousel-caption">Slide 2</div>
            </div>
            <div class="item">
                <img src="Content/img/homeslide3.jpg" alt="Third slide" width="100%">
                <div class="carousel-caption">Slide 3</div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel"data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel"data-slide="next">&rsaquo;</a>
    </div>
    <hr>
    <!-- Carousel for home page ends -->
<div class="container">    
    <!-- Quick Features Pane -->
    <div class="row">
        <div class = "col-md-4">
            <div class="panel panel-default panelbody">
                <div class="panel-body">
                    <h2 class="text-center">Accountibility</h1>
                    <p class="text-center">Get a customized project development report...</p>
                    <br />
                    <p class="text-center">
                        <a class="btn btn-primary" href="/feature#accountibility" role="button">View details »</a>
                    </p>
                </div>
            </div>
        </div>
        <div class = "col-md-4">
                                <div class="panel panel-default panelbody">
                                        <div class="panel-body">
                    <h2 class="text-center">History</h1>
                    <p class="text-center">Browse through the past of the NGO</p>
                    <br />
                    <p class="text-center">
                        <a class="btn btn-primary" href="/feature#history" role="button">View details »</a>
                    </p>
                </div>
            </div>
        </div>
        <div class = "col-md-4">
                                <div class="panel panel-default panelbody">
                                        <div class="panel-body">
                    <h2 class="text-center">Smooth Payment</h1>
                    <p class="text-center">We will handle all the payement and legal details regarding trasaction, making it as easy as 123</p>
                    <p class="text-center">
                        <a class="btn btn-primary" href="/feature#smoothpayment" role="button">View details »</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- Quick Features Pane ends -->

    <!-- Top Projects Pane -->
    <h2 class="text-left">Top Projects</h2>
    <div class="row">
        <div id="top_proj" class="col-md-8">                
                <div id="#Sample1">
                    <div class="panel panel-default panelbody">
                        <div class="panel-body">
                            {% for project in projects %}
                                <h3>{{project.title}}</h3>
                                <p>{{project.description}}</p>
                            {% endfor %}    
                        </div>
                    </div>
                </div>
                <div id="#Sample2">
                    <div class="panel panel-default panelbody">
                        <div class="panel-body">
                            <p>Sample 2</p>
                        </div>
                    </div>
                </div>
                <div id="#Sample3">
                    <div class="panel panel-default panelbody">
                        <div class="panel-body">
                            <p>Sample 3</p>
                        </div>
                    </div>
                </div>
                <div id="#Sample4">
                    <div class="panel panel-default panelbody">
                        <div class="panel-body">
                            <p>Sample 4</p>
                        </div>
                    </div>
                </div>
            
        </div>
        <div class="col-md-4"> 
            <div class="panel panel-default panelbody">
                <div class="panel-body">
                    <h3><strong>Categories</strong></h3>
                    <ul class="menu list-unstyled">
                        <li><a href="#Sample1"><span>Sample 1</span></a></li>
                        <li><a href="#Sample2"><span>Sample 2</span></a></li>
                        <li><a href="#Sample3"><span>Sample 3</span></a></li>
                        <li><a href="#Sample4"><span>Sample 4</span></a></li>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
    <!-- Top Projects Pane ends -->
</div>
{% endblock body %}

{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" language="javascript" src="/Content/js/slidingPanels.js"></script>
{% endblock scripts %}
