{% extends "ngoTopBar.html" %}


{% block title %}Crowd Sourcing Report{% endblock title %}

{% block userblock %}
    
<div class="col-sm-10 ">
	<div class="row text-center">
		<h3>
			NGO Dashboard
		</h3>
		<div class="panel panel-default panelbody">
			<div class="panel-body">
				<p class="text-left">
					Welcome {{user}}, This is the portal to all your potential investors. Please proceed to create a new project or update existing one.
					<ul>
						{% if not ngoProjects %}
							<li><p class="text-left">It seems you don't have any project right now. Why not <a href="propose">create</a> now?"</p></li>
						{% endif %}
					</ul>
				</p>
			</div>
		</div>
      </div>
      <div class="row">
		<h3 class="text-center">
			Quick Links
		</h3>
		<div class="panel panel-default panelbody">
			<div class="panel-body">
				<p class="text-left">
					<ul>
						<li><a href="/propose">Create New Project</a></li>
						<li><a href="/home/UpdateProject">Update a project</a></li>
						<li><a href="#">Update {{user.name}} profile</a></li>
					</ul>
				</p>
			</div>
		</div>
		<div class="text-center">
		<h3>
			Your Projects
		</h3>
		<div class="panel panel-default panelbody">
			<div class="panel-body">
				{% if ngoProjects%}
					{% for ngoProject in ngoProjects %}
							<div class="col-md-4">
								<div class="panel panel-primary">
								  <div class="panel-heading">
								    <h3 class="panel-title">{{ngoProject.title}}</h3>
								  </div>
								  <div class="panel-body">
								    {{ngoProject.description}}
								  </div>
								</div>
							</div>
						{% endfor %}	
				{% else %}		
					<p> Why dont you <a href="propose">propose</a> some project?</p>
				{% endif %}	
			</div>
		</div>
    </div>
    </div>
{% endblock userblock %}
{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" language="javascript" src="/Content/js/slidingPanels.js"></script>
{% endblock scripts %}
