{% extends "ngoTopBar.html" %}


{% block title %}Crowd Sourcing Report{% endblock title %}

{% block userblock %}
    
<div class="col-sm-10 ">
	<div class="row text-center">
		<h3>
			NGO Dashboard
		</h3>
		<div class="panel panel-default panelbody">
			<div class="panel-body">
				<p class="text-left">
					Welcome {{ngo.name}}, This is the portal to all your potential investors. Please proceed to create a new project or update existing one.
					<ul>
						{% if length == 0 %}
							<li><p class="text-left">It seems you don't have any project right now. Why not <a href="/propose">create</a> now?"</p></li>
						{% endif %}
					</ul>
				</p>
			</div>
		</div>
      </div>
		<div class="text-center">
		<h3>
			Your Projects
		</h3>
		<div class="panel panel-default panelbody">
			<div class="panel-body">
				{% if length != 0 %}
					{% for project in ngoProjects %}
							<div class="col-md-3">
							<div class="panel panelbody">
								<div class="panel-body">
									<img src="/Content/img/project_image.jpg" class="col-md-12"/>
									<p class="text-center"><a href="/project/{{project.ngo}}_{{project.link}}">{{project.title}}</a></p>
									<p class="text-center"><i class="fa fa-tag"></i> {{project.category}}</p>
								</div>
							</div>
						</div>
						{% endfor %}	
				{% else %}		
					<p> Why dont you <a href="/propose">propose</a> some project?</p>
				{% endif %}	
			</div>
		</div>
    </div>
    </div>
{% endblock userblock %}
{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" language="javascript" src="/Content/js/slidingPanels.js"></script>
{% endblock scripts %}
