{% extends "layout.html" %}

{% block title %}Crowd Sourcing Report{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<form class="form-horizontal" method="post">
			<fieldset>
				<legend>Describe Your Project:</legend>
      
				<div class="form-group">
					<textarea class="col-md-5" name="shortDescription" cols="60" rows="4"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock body %}
{% block scripts %}
<script type="text/javascript" src="/Content/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
	statusbar: false,
	menubar: false,
	width: "50%",
	height: 200,
    selector: "textarea",
    theme: "modern",
    plugins: [
        "lists link",
        "",
        "table",
        "paste textcolor colorpicker textpattern autoresize"
    ],
    toolbar1: "styleselect | headingsselect | bold italic underline strikethrough subscript superscript forecolor | bullist numlist | link table",
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
    ]
});
</script>
{% endblock scripts %}
	
