{% extends "layout.html" %}

{% block title %}Crowd Sourcing Report{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<form class="form-horizontal" method="post">
			<fieldset>
				<legend>Describe Your Project:</legend>
      
				<div class="form-group">
					<textarea name="shortDescription" cols="60" rows="4"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock body %}
{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>

{% endblock scripts %}
	
