{% extends "layout.html" %}

{% block title %}Crowd Sourcing Report{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<form class="form-horizontal" method="post">
			<fieldset>
				<legend>Tell us what you want to do in 100 words</legend>
      
				<div class="form-group">
					<div class="col-lg-10">
						<textarea name="shortDescription" style="width:120vh"></textarea>
					</div>
					<div class="col-lg-10 ">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</fieldset>
    </form>
  
</div>
{% endblock body %}
{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>

{% endblock scripts %}
	
