{% extends "layout.html" %}

{% block title %}Propose{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panelbody">
				<div class="panel-body">
					<ul id="projectForm" class="nav nav-tabs">
						<li class="active"><a href="#basicInfo" data-toggle="tab">Basic Info</a></li>
						<li><a href="#description" data-toggle="tab">Description</a></li>
						<li><a href="#tasklist" data-toggle="tab">Task List</a></li>
					</ul>
					<div id="projectFormContent" class="tab-content">
						<div class="tab-pane fade in active" id="basicInfo">
							<form id="projectRegForm" method="post">
								<fieldset>
									<legend>Basic Info</legend>
									<div class="form-group">
										<label for="inputText" class="control-label">Title*:</label>
										<input type="text" class="form-control" form= "projectRegistrationForm" id="inputText"  name="title" placeholder="Title" style="width:50%" required>
									</div>
									<div class="form-group">
										  <label for="select" class="control-label">State</label>
											<select class="form-control" id="selectState" form= "projectRegistrationForm" name="stateOfOperation" style="width:50%">
												  <option>Andaman and Nicobar Island </option>
												  <option>Andhra Pradesh </option>
												  <option>Arunachal Pradesh </option>
												  <option>Assam </option>
												  <option>Bihar </option>
												  <option>Chandigarh </option>
												  <option>Chhattisgarh </option>
												  <option>Dadra and Nagar Haveli </option>
												  <option>Daman and Diu </option>
												  <option>Delhi </option>
												  <option>Goa </option>
												  <option>Gujarat </option>
												  <option>Haryana </option>
												  <option>Himachal Pradesh </option>
												  <option>Jammu and Kashmir </option>
												  <option>Jharkhand </option>
												  <option>Karnataka </option>
												  <option>Kerala </option>
												  <option>Lakshadweep </option>
												  <option>Madhya Pradesh </option>
												  <option>Maharashtra </option>
												  <option>Manipur </option>
												  <option>Meghalaya </option>
												  <option>Mizoram </option>
												  <option>Nagaland </option>
												  <option>Orissa </option>
												  <option>Puducherry </option>
												  <option>Punjab </option>
												  <option>Rajasthan </option>
												  <option>Sikkim </option>
												  <option>Tamil Nadu </option>
												  <option>Tripura </option>
												  <option>Uttar Pradesh </option>
												  <option>Uttarkhand </option>
												  <option>West Bengal </option>
											</select>
									</div>
									<div class="form-group">
								<fieldset>
									<label for="select" class="control-label">Sector</label>
									<select class="form-control" id="NGOsector" form= "projectRegistrationForm" name="sectorOfOperation" style="width:50%">
										<option>Aged/Elderly </option>
										<option>Agriculture </option>
										<option>Animal Husbandry, Dairying & Fisheries </option>
										<option>Any Other </option>
										<option>Art & Culture </option>
										<option>Biotechnology </option>
										<option>Children </option>
										<option>Civic Issues </option>
										<option>Dalit Upliftment </option>
										<option>Differently Abled </option>
										<option>Disaster Management </option>
										<option>Drinking Water </option>
										<option>Education & Literacy </option>
										<option>Environment & Forests </option>
										<option>Food Processing </option>
										<option>Health & Family Welfare </option>
										<option>HIV/AIDS </option>
										<option>Housing </option>
										<option>Human Rights </option>
										<option>Information & Communication Technology </option>
										<option>Labour & Employment </option>
										<option>Land Resources </option>
										<option>Legal Awareness & Aid </option>
										<option>Micro Finance </option>
										<option>Micro Small & Medium Enterprises </option>
										<option>Minority Issues </option>
										<option>New & Renewable Energy </option>
										<option>Nutrition </option>
										<option>Panchayati Raj </option>
										<option>Prisoner's Issues </option>
										<option>Right to Information & Advocacy </option>
										<option>Rural Development & Poverty Alleviation </option>
										<option>Science & Technology </option>
										<option>Scientific & Industrial Research </option>
										<option>Sports </option>
										<option>Tourism </option>
										<option>Tribal Affairs </option>
										<option>Urban Development & Poverty Alleviation </option>
										<option>Vocational Training </option>
										<option>Water Resources </option>
										<option>Women's Development & Empowerment </option>
										<option>Youth Affairs </option>
									</select>	

									</fieldset>
								</div>
							</form>
						</div>
						<div class="tab-pane fade" id="description">
								<fieldset>
									<legend>Description</legend>
										<div class="form-group">
											<textarea id="desc" class="col-md-5" form="projectRegForm" name="shortDescription" cols="60" rows="4"></textarea>
										</div>
								</fieldset>
						</div>
						<div class="tab-pane fade" id="tasklist">
							<fieldset>
								<legend>Add Tasks in Your Project:</legend>
								<div id = "Tasklist"></div>
								<br />
								<input type="hidden" id="count" name="count"	value="0">
								<input type ="button" class="btn btn-primary" onclick = "addTask()" value ="+ Add a task">
					
							</fieldset>
						</div>
						
						
					</div>
				</div>
			</div>
			<div class="text-right">
			<button type="submit" class="btn btn-primary" form ="projectRegForm">Submit</button>
			</div>
		</div>
					
			    	
											
					</form>    
		  </div>
		  
		</div>
	</div>
</div>	

{% endblock body %}

{% block scripts %}
	<script type="text/javascript" src="/Content/js/tinymce/tinymce.min.js"></script>
	
	<script type="text/javascript">
tinymce.init({
	statusbar: false,
	menubar: false,
	width: "50%",
	height: 200,
    selector: "#desc",
    theme: "modern",
    plugins: [
        "lists link",
        "",
        "table",
        "paste textcolor colorpicker textpattern"
    ],
    toolbar1: "styleselect | headingsselect | bold italic underline strikethrough subscript superscript forecolor | bullist numlist | link table",
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
    ]
});
</script>
<script src = "/Content/js/addTask.js"></script>
{% endblock scripts %}

