{% extends "layout.html" %}

{% block title %}Propose{% endblock title %}

{% block body %}
	<div class = "container">
		<div class = "col-md-12">
			<div class = "navigation panel panel-default panelbody">
			<!--<div class = "navigation full-viewport" style = "border:2px solid white;">-->
				
</div>
		</div><form class="form-horizontal" method="post">
  <fieldset>
    <legend>Categories</legend>
    <div class="form-group">
      <label for="inputText" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputText"  name="name" placeholder="Category">
      </div>
    </div>
    
   
      <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>




		<div class = "col-md-8">
				<div class = "row full-viewport">
				</div>
				<p class = "text-right"><a href = "#top">^ Back to Top ^</a></p>
		</div>
		<hr />
	</div>
{% endblock body %}

{% block scripts %}
	<script src = "/Content/js/smoothScroll.js"></script>
{% endblock scripts %}

