{% extends "layout.html" %}

{% block title %}Crowd Sourcing Report{% endblock title %}

{% block body %}


      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2  ">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li class="active"><a href="/home">Home</a></li>
            <li ><a href="/home/ProjectUpdate">Project Update</a></li>
            </ul>
          </div>
                     
      <div class="col-sm-10 ">
		<h1>Dashboard</h1>
		<a href="/home/ProjectUpdate"><h3> Project Updates</h3></a>
      </div>
    </div>
    </div>
{% endblock body %}
{% block scripts %}
<!-- CarouFredSel JavaScript Plugin -->
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery-1.8.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/Content/carousal/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" language="javascript" src="/Content/js/slidingPanels.js"></script>
{% endblock scripts %}