
{% extends "layout.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
<div class = "container">
        <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked" style =" max-width = 300px">
                                <li><a href="/admin">Home</a></li>
                                <li><a href="/admin/Authenticate">Project Updates</a></li>
                        </ul>
        </div>

                {% block userblock %}
                {% endblock userblock %}
</div>
{% endblock body %}

