h1{
	font-size: 50px;
}

h2{
	font-size: 30px;
}

hr{
	color:yellow;
	background-color:yellow;
}

a:link{
	color:white;
	font-weight:bold;
	text-decoration: none;
}

a:visited{
	color:white;
	font-weight:bold;
	text-decoration: none;
}

a:hover{
	font-weight:bold;
	color:#FFCC99;
	text-decoration: none;
}

a:active{
	color:white;
	font-weight:bold;
	text-decoration: none;
}

a.nav:hover{
	color:white;
}

.bigtext{
	font-size: 40px;
}

.logo{
	font-weight:bold;
	color: white;
}

h4.fbold{
	font-weight:bold;
	color: white;
}

p.subheading{
	font-size=20px;
}

h3{
	font-size: 20px;
}
p{
	text-align: justify;
}

a.fhypertext:link{
	color: white;
	text-decoration:none;
}

a.fhypertext:visited {
	color:white;
	text-decoration:none;
}
a.fhypertext:hover 
{
	color:#FFCC99;
	font-weight:bold;
	text-decoration:none;
}
a.fhypertext:active {
	color:white;
	text-decoration:none;
}

.vc-viewport{
	position:relative;
	padding-top: 50vh;
}

.vhc-viewport{
        position:relative;
        padding-top: 25vh;
}


div.full-viewport{
	height: 100vh;
}

div.half-viewport{
        height: 50vh;
}

div.panelbody{
	background-color: black;
	border-color: white;
	border-style: solid;
}

body{
	background-image: url("/Content/img/bg.png");
	background-attachment: fixed;
}

p.moderate{
	font-size: 20px;
}

img.homeslide{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.homeslide{
	text-align:center;
}

.footer{
	color:#fff
}

footer h3{
	margin-bottom:30px
}

footer.footer-above{
	padding-top:50px;
	background-color:#2c3e50;
}

footer .footer-col{
	margin-bottom:20px
}

footer .footer-below{
	padding:25px 0;
	background-color:#233140
}

div.footer{
	background-color: #202020;
}

#home_slider{
	overflow: hidden;
}

img.middle{
	vertical-align: text-center;
}

#customBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 100%;
      border-radius: 5px;
      white-space: nowrap;
    }
    #customBtn:hover {
      background: #e74b37;
      cursor: hand;
    }
    span.label {
      font-weight: bold;
    }
    span.icon {
      background: url('https://google-developers.appspot.com/+/images/branding/btn_red_32.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-right: #bb3f30 1px solid;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 7px;
      padding-right: 7px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
    }

